<!DOCTYPE html>
<meta charset="UTF-8">
<title>ギャラリー</title>
<link rel="shortcut icon" href="/favicon.ico" >
<link rel="stylesheet" type="text/css" href="styles.css">
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
<div id="wrapper">
<div id="top_content">
	<div id="content">
		<h1>Gallery</h1>
		<span>udのイラスト置き場です。仮設置中</span>
		<ul id="year">
[year_link]
		</ul>
	</div>
	<div id="footer">
website: <a href="../">魔法装飾図</a>
	</div>
</div>
</div>
</body>
</html>